input {
    width: 300px;
    border: none;
    background-color: whitesmoke;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    margin-bottom: 10px;
}

input:focus {
    color: white;
    background-color: rgba(70, 130, 180, 0.35);
}

button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    background-color: rgba(70, 130, 180);
    border: none;
    margin: 20px;
    cursor: pointer;
}

div {
    position: absolute;
    top: 15%;
    left: 35%;
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 40px;
    padding-right: 20px;
}